:root {
    --yellow: #ffc107;
    --yellow2: #ffc823;
    --yellow3: #d6a100;
    --yellow4: #ffcf40;
    --white: #ffffff;
    --black: #000000;
    --successful: #20c997;
    --successful2: #17a2b8;
    --danger: #fd7e14;
    --danger2: #e83c00;
    --box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    --opacity-white: rgba(255, 255, 255, 0.5);
    --opacity-white-high: rgba(255, 255, 255, 0.7);
    --h1-shadow: #ffffff;
    --h1-shadow2: #ffc107;
    --font: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    --font2: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    --font-button: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}

body {
	line-height: 1.45;
	font-size: 0.875rem;
	color: var(--black);
	font-family: var(--font);
	margin: 0;
	padding-top: 42px;
	padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#root {
	height: 100%;
}