.dog-container {	
	text-decoration: none;
	flex-basis: 25%;
	padding: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dog-link {
	text-decoration: none;
}

.dog-sub {
	text-decoration: none;
	height: min-content;
	width: min-content;
	border-radius: 12px 12px 12px 12px;
	border-style: solid;
	box-shadow: var(--box-shadow);
	border-color: var(--white);
	margin: 0;
	padding: 0px;
}

.dog-name {
	text-decoration: none;
	border-radius: 12px 12px 0px 0px;
	margin: 0;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	padding-top: 10px;
	background-color: var(--yellow);
	font-family: var(--font2);
	font-weight: 600;
	color: var(--black);
}

.dog-weight {
	text-decoration: none;
	border-radius: 0px 0px 0px 0px;
	margin: 0;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	padding-bottom: 10px;
	background-color: var(--yellow);
	font-family: var(--font2);
	color: var(--black);
	font-weight: 600;
}

.dog-img {
	text-decoration: none;
	display: block;
	height: 200px;
	width: 250px;
	object-fit: cover;
	margin: 0;
	padding: 0;
}

.dog-temperaments {
	text-decoration: none;
	border-radius: 0px 0px 12px 12px;
	width: 250px;
	height: 80px;
	background-color: var(--yellow);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.temperament {	
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.temperament-sub {
	text-decoration: none;
	display: inline-flex;
	border-radius: 5px 5px 5px 5px;
	margin: 2px;
	padding: 2px 5px 2px 5px;
	background-color: var(--black);
	font-family: var(--font2);
	font-size: 0.8rem;
	color: var(--yellow);
}
