.dogs-container {
    display: flex;
    flex-wrap: wrap;
}

.dogs-not-found {
	margin: 0 auto;
	padding: 15px 15px;
	text-align: center;
}

.dogs-not-found h1 {
    font-weight: 400;
    margin: 0 0 30px;
    margin-bottom: 40px;
    color: var(--black);
    font-size: 1.875rem;

}

.dogs-not-found img {
    width: 100%;
}
