.home {
	margin: 0 auto;
	padding: 0px;
	resize: both;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.search-container {
	background-image: url(../../assets/images/bg2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.search-sub {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-right: 35px;
	padding-left: 35px;
	border-radius: 8px;
	background-color: var(--opacity-white-high);
	box-shadow: var(--box-shadow);
	border-color: var(--white);
	min-width: 600px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.search-blocks {
	flex-wrap: wrap;
	text-align: center;
	display: flex;
}

.search-blocks-sub {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
}
.search-blocks-sub2 {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.search-order {
	width: 80px;
	height: 40px;
	border: 3px solid var(--yellow);
	background: var(--white);
	text-align: center;
	color: var(--black);
	border-radius: 0 0 0 0;
	cursor: pointer;
	font-size: 14px;
}

.search-order-by {
	width: 120px;
	height: 40px;
	border: 3px solid var(--yellow);
	background: var(--white);
	text-align: center;
	color: var(--black);
	border-radius: 0 0 0 0;
	cursor: pointer;
	font-size: 14px;
}

.search-order-label {
	font-weight: bold;
	padding: 8px;
	height: 40px;
	border: 1px solid var(--yellow);
	background: var(--yellow);
	text-align: center;
	color: var(--black);
	border-radius: 5px 0 0 5px;
	font-size: 14px;
	font-family: var(--font2);
}

.search-order-label2 {
	width: 40px;
	height: 40px;
	border: 1px solid var(--yellow);
	background: var(--yellow);
	text-align: center;
	color: var(--black);
	border-radius: 0 5px 5px 0;
	font-size: 14px;
}

.search-order-label3 {
	font-weight: bold;
	padding: 8px;
	height: 40px;
	border: 1px solid var(--yellow);
	background: var(--yellow);
	text-align: center;
	color: var(--black);
	border-radius: 0 5px 5px 0;
	font-size: 14px;
	font-family: var(--font2);
}

.search-text {
	font-weight: 600;
	margin-top: 8px;
	margin-bottom: 8px;
	color: var(--black);
	font-size: 1.4rem;
	text-shadow: 1px 0 0 var(--h1-shadow2), -1px 0 0 var(--h1-shadow2),
		0 1px 0 var(--h1-shadow2), 0 -1px 0 var(--h1-shadow2),
		1px 1px var(--h1-shadow2), -1px -1px 0 var(--h1-shadow2),
		1px -1px 0 var(--h1-shadow2), -1px 1px 0 var(--h1-shadow2);
}

.search-label {
	margin: 0 auto;
	display: flex;
}

.search-input {
	height: 40px;
	min-width: 410px;
	border: 3px solid var(--yellow);
	border-right: none;
	padding: 5px;
	font-size: 0.8rem;
	border-radius: 0 0 0 0;
	outline: none;
	color: var(--black);
	font-family: var(--font2);
	font-weight: 600;
}

.search-input:focus {
	color: var(--black);
}

.search-button {
	width: 40px;
	height: 40px;
	border: 1px solid var(--yellow);
	background: var(--yellow);
	text-align: center;
	color: var(--black);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.search-button:hover {
	background: var(--yellow3);
}

.result-container {
	margin: 0 auto;
	max-width: 1200px;
}

@media only screen and (max-width: 650px) {
	.search-sub {
		min-width: 95% !important;
		padding: 0;
	}
}
@media only screen and (max-width: 650px) {
	.search-input {
		min-width: 210px !important;
	}
}
